<div class="login-screen">
    <logo></logo>

    <form id="newPasswordForm" [formGroup]="newPasswordForm" novalidate (ngSubmit)="doChange(newPasswordForm.value, newPasswordForm.valid)">
        <div class="text-input">
            <input formControlName="password" type="password" [ngClass]="{'validation-error': checkValid(newPasswordForm.controls.password)}">
            <label>Password</label>
        </div>
        <div class="text-input">
            <input formControlName="confirmPassword" type="password" [ngClass]="{'validation-error': checkValid(newPasswordForm.controls.confirmPassword)}">
            <label>Confirm Password</label>
        </div>
        <input class="btn" type="submit" value="Submit">
    </form>
</div>

<a [routerLink]="['/registration']" class="register-link">Don't have an account? <strong>Sign up</strong></a>