<div class="login-screen">
			<logo></logo>

			<form id="register" [formGroup]="registrationForm" novalidate (ngSubmit)="doRegister(registrationForm.value, registrationForm.valid)"> 
				<div class="text-input">
					<input formControlName="firstName" type="text" [ngClass]="{'validation-error': checkValid(registrationForm.controls.firstName)}">
					<label>First Name</label>
				</div>

				<div class="text-input">
					<input formControlName="lastName" type="text" [ngClass]="{'validation-error': checkValid(registrationForm.controls.lastName)}">
					<label>Last Name</label>
				</div>

				<div class="text-input">
					<input formControlName="email" type="email" [ngClass]="{'validation-error': checkValid(registrationForm.controls.email)}">
					<label>Email</label>
				</div>

				<div class="text-input">
					<input formControlName="password" type="password" [ngClass]="{'validation-error': checkValid(registrationForm.controls.password)}">
					<label>Password</label>
				</div>

				<div class="text-input">
					<input formControlName="confirmPassword" type="password" [ngClass]="{'validation-error': checkValid(registrationForm.controls.confirmPassword)}">
					<label>Confirm Password</label>
				</div>

				<input class="btn" type="submit" value="Sign Up">
			</form>
		</div>

		<a [routerLink]="['/login']" class="register-link">Back to <strong>Login</strong></a>